<h3>Select your Terminal</h3>


<%= form_with url: "terminal_selection_id", method: :post do |f| %>
    <%= f.collection_select :id, @terminals, :id, :number %>
    <%= f.submit "Find Restaurants"%>
<% end %>